In [34]:
# Import pandas library
import pandas as pd

In [35]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /Users/Chinedu/.pyenv/versions/3.10.5/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [36]:
data= pd.read_excel(open('inventory.xlsx', 'rb'), sheet_name='Sheet1')

In [37]:
data.head()

   Product No  Inventory   Price     Supplier
0           1         20  200.40  AAA Company
1           2         23   33.00  BBB Company
2           3      30000  234.99  CCC Company
3           4         43   21.89  BBB Company
4           5        523   55.99  CCC Company

In [38]:
data.columns

Index(['Product No', 'Inventory', 'Price', 'Supplier'], dtype='object')

In [39]:
## Task 1: Calculate how many product per supplier

In [40]:
data['Supplier'].value_counts()

AAA Company    43
BBB Company    17
CCC Company    14
Name: Supplier, dtype: int64

In [41]:
## Task 2: Calc total inventory value of their product.

In [42]:
# Using DataFrame.insert() to add a column
data.insert(4, "Inventory_value",data['Inventory']* data['Price']  , True)

In [43]:
data.head()

   Product No  Inventory   Price     Supplier  Inventory_value
0           1         20  200.40  AAA Company          4008.00
1           2         23   33.00  BBB Company           759.00
2           3      30000  234.99  CCC Company       7049700.00
3           4         43   21.89  BBB Company           941.27
4           5        523   55.99  CCC Company         29282.77

In [44]:
data.groupby('Supplier').apply(lambda x: x['Inventory_value'].sum()) # first method

Supplier
AAA Company    10969059.95
BBB Company     2375499.47
CCC Company     8114363.62
dtype: float64

In [45]:
data.groupby('Supplier').apply(lambda x: (x['Inventory'] * x['Price']).sum()) # second method

Supplier
AAA Company    10969059.95
BBB Company     2375499.47
CCC Company     8114363.62
dtype: float64

In [46]:
# Task 3: product Number with inventory less than 10

In [47]:
data.where(data['Inventory'] < 10).dropna()

    Product No  Inventory    Price     Supplier  Inventory_value
24        25.0        7.0  1150.00  AAA Company          8050.00
29        30.0        6.0    13.99  BBB Company            83.94
73        74.0        2.0    19.99  BBB Company            39.98

In [49]:
data.to_excel("pandas_output.xlsx",index=False)